<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Components</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<th:block th:if="false">
    <button th:fragment="my-button"
            th:with="icon=(${icon} ?: ~{})"
            class="btn btn-primary">
        My Button

        <span th:insert="${icon}"></span>
    </button>
</th:block>

<section class="container">
    <button th:replace="~{:: my-button(icon=~{:: my-icon-1})}">
        Xyz
        <span th:fragment="my-icon-1">Icon-1</span>
    </button>
</section>
</body>
</html>