<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpEL</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<h1>SpEL</h1>

<h2>No-Operation</h2>

<div th:text="${null} ?: _">Thanks to <code>_</code> Thymeleaf will render this message.</div>

<h2>Numeric</h2>

<div th:text="100 + 1"></div>
<div th:text="${100 + 1}"></div>

<h2>JSON</h2>
<ul>
    <li th:each="user : ${users}" th:text="${user.path('name')}"></li>
</ul>
</body>
</html>