<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, content)">
<head th:fragment="common-head(title)">
    <meta charset="UTF-8">
    <title th:replace="${title} ?: _">Femo</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.css">
    <script src="/webjars/htmx.org/1.9.6/dist/htmx.js"></script>
    <script src="/webjars/hyperscript.org/0.9.11/dist/_hyperscript.js"></script>
    <script src="/webjars/hyperscript.org/0.9.11/dist/hdb.js"></script>

    <style>
        nav + section {
            margin-top: 1rem;
        }
    </style>
</head>
<body class="container">

<nav class="navbar navbar-dark bg-dark" th:fragment="nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Femo</a>
    </div>
</nav>

<section class="pt-2">
    <ul>
        <li><a href="/sandbox">Sandbox</a>
        </li>
        <li>Thymeleaf
            <ul>
                <li><a href="/thymeleaf/spel">SpEL</a></li>
            </ul>
        </li>
        <li><a href="/components">Components</a>
        </li>
        <li><a href="/hyperscript">Hyperscript</a>
        </li>
    </ul>
</section>

<section th:replace="${content} ?: _"></section>

</body>
</html>