<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, content)">
<head th:fragment="common-head(title)">
    <meta charset="UTF-8">
    <title th:replace="${title} ?: _">Femo</title>
    <link th:fragment="bootstrap" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <script th:fragment="htmx" th:src="@{/webjars/htmx.org/dist/htmx.js}"></script>
    <script th:src="@{/webjars/hyperscript.org/dist/_hyperscript.js}"></script>
    <script th:src="@{/webjars/hyperscript.org/dist/hdb.js}"></script>
</head>
<body class="container">

<nav class="navbar navbar-dark bg-dark" th:fragment="nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Femo</a>
    </div>
</nav>

<section class="pt-2">
    <ul>
        <li><a href="/sandbox">Sandbox</a>
        </li>
        <li>Thymeleaf
            <ul>
                <li><a href="/thymeleaf/spel">SpEL</a></li>
                <li><a href="/components">Components</a></li>
            </ul>
        </li>
        <li>Bootstrap
            <ul>
                <li><a href="/bootstrap/admin">Admin interface</a></li>
            </ul>
        </li>
        <li><a href="/htmx">HTMX</a>
            <ul>
                <li><a href="/htmx/view-transitions">View Transitions</a></li>
                <li><a href="/htmx/active-search">Active Search</a></li>
                <li><a href="/htmx/form">Form</a></li>
            </ul>
        </li>
        <li><a href="/hyperscript">Hyperscript</a>
        </li>
        <li><a href="/workshop">Workshop</a>
        </li>
    </ul>
</section>

<section th:replace="${content} ?: _"></section>

</body>
</html>